body{
  background-color: #f9f7f3;
}
html{
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#92e0f7;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
li a:hover {
  background-color:#7ab9cc;
}
.active{
  text-decoration: underline;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #7ab9cc;
}
.dropdown:hover .dropdown-content {
  display: block;
}
h1{
  text-shadow: 5px 2px 8px grey;
  font-size: 55px;
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th, td{
  padding: 10px;
}
th{
  text-decoration: underline;
  font-size: 20px;
}
tr:hover{
  background-color: #fce1ea;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.button1{
  background-color:  #fce1ea;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  border-radius: 25px;
  width: 25%;
  display: inline;
}
.page{
  background-color:  #fce1ea;
  color: grey;
  text-decoration: none;
  font-family: "times new roman", Times, serif;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
